/*************************************************
**************************************************

Website Name: The Class Critique 
Website URL: 
Website Author: Ajit, Divya, Lakhvinder, Rishi
Author URL: Theclasscritique.com
Copyright 2024. All Rights Reserved.

Color Guide
***************/
:root{
--primary-color: #575757;
--secondary-color: #c4c4c4;
--overlay: white;
}

/*************************************************

Type Guide
***************


Debugging Tools
***************
border: 1px solid #fff;

*************************************************/

/************************************************
*************************************************
0. CSS Reset ------------------------ 
1. Universal Styles -----------------
2. Header & Nav Styles -------------- 
3. Main Body Styles ----------------- 
4. Sidebar Styles ------------------- 
5. Widget Styles --------------------
6. Footer Styles -------------------- 
7. Comments & Form Styles ----------- 
8. Generic Styles ------------------- 
9. Animation Keyframes --------------

*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
* {
  box-sizing: border-box;
}

a{
	text-decoration: none;
}
/*----------------------------------------------
------------------------------------------------
1. Universal Styles
------------------------------------------------
----------------------------------------------*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*----------------------------------------------
------------------------------------------------
2. Header & Nav Styles
------------------------------------------------
----------------------------------------------*/

header nav{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	width: 95%;
	margin: auto;
}

header nav ul{
	display: flex;
	padding-left: 0;
}

header nav ul li{
	list-style: none;
	margin: auto 20px ;
}

header nav ul li a.active{
	padding: 5px 10px ;
	background-color: var(--secondary-color);
	border-radius: 5px;
}

/* Apply the animation to nav links */
header nav ul li a:hover {
	text-decoration: underline; 
	animation: underline 200ms ease-in forwards;
}

header nav .logo{
	flex-grow: 2;
}

header nav .logo img{
	margin: auto;
	display: block;
}


/* Mobile view Responsive layout */
@media screen and (max-width: 768px) {
	header nav {
		width: 100%;
	}

	header nav ul{
		justify-content: space-evenly;
		/* margin: 0; */
	}

	header nav ul li{
		margin: 5px;
	}

	header nav div {
			flex-grow: 1;
			order: 3; /* Move both divs containing navigation links to the end */
	}
	header nav .logo {
			flex-basis: 100%;
			order: 1; /* Move the logo to the beginning for mobile view */
	}
}
/*----------------------------------------------
------------------------------------------------
3. Main Body Styles
------------------------------------------------
----------------------------------------------*/
main{
	width: 80%;
	margin: auto;
}



/*----------------------------------------------
------------------------------------------------
4. Sidebar Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
5. Widget Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
6. Footer Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
7. Comments & Form Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
8. Generic Styles
------------------------------------------------
----------------------------------------------*/
a{
	color: var(--primary-color);
}



/*----------------------------------------------
------------------------------------------------
9. Animation Keyframes
------------------------------------------------
----------------------------------------------*/

@keyframes underline {
	from {
			text-decoration-color: transparent; /* Start with transparent underline */
	}
	to {
			text-decoration-color: var(--primary-color); /* End with colored underline */
	}
}

/*----------------------------------------------
------------------------------------------------
10. Reusable classes
------------------------------------------------
----------------------------------------------*/
.text-center{
	text-align: center;
}
